.footer {
  background-image: url("../images/photo/footer.png");
  padding: 95px 0;
  color: $white-text;
  font-size: 0.875rem;
  line-height: 1em;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }

  
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
  }
  &__logo {
    
  }
  &__social-text {
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 27px;
    flex-shrink: 0;
  }

  &__menu-link {
    color: white;
    text-transform: uppercase;
  }
  &__subscribe {
    max-width: 485px;
  }
}

.social-list {
  display: flex;
  gap: 32px;
}

.subscribe {
  &__header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.1em;
    margin-bottom: 24px;
  }
  &__text {
    line-height: 1.3em;
    margin-bottom: 48px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $white;
    
    border-radius: $btn-radius;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  &__input {
    padding: 0 32px;
    display: inline-block;
    flex: 1 1 auto;
  }
  &__input::placeholder,
  &__input::-moz-placeholder,
  &__input::-webkit-input-placeholder,
  &__input::-ms-input-placeholder {
    color: $white-text;
    opacity: 0.7;
  }
  &__btn {
    background-color: $white;
    color: $primary-text;
    border: 1px solid $white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
