.header {
    // background-color: black;
    position: absolute;
    width: 100%;
    &__nav {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu {
    
    &__list {
        display: flex;
        gap: 40px;

    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1em;

    }
    &__underline {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white-text;
        border-radius: 4px;
       transform: scaleX(0);
       transition: all 0.5s ease-in;
    }
    &__item:hover &__underline {
        transform: scaleX(1);
    }

    &__link {
        color: $white-text;
        text-transform: uppercase;
    }
}