<section class="advantage-section">
  <div class="container advantage-section__container">
    <h2 class="section-title advantage-section__title">
      Premium materials and top notch craftsmanship
    </h2>
    <div class="advantage-section__table">
      <div class="advantage-section__item">
        <h4 class="advantage-section__item-title section-subtitle">
          Minimal build
        </h4>
        <p class="advantage-section__item-text text">
          Ensures compact carry, worn as a belt or neck knife able to perform in
          a variety of environments.
        </p>
      </div>
      <div class="advantage-section__item">
        <h4 class="advantage-section__item-title section-subtitle">
          Durability
        </h4>
        <p class="advantage-section__item-text text">
          Made of the most durable materials on the market, and will last you a
          lifetime.
        </p>
      </div>
      <div class="advantage-section__item">
        <h4 class="advantage-section__item-title section-subtitle">Size</h4>
        <p class="advantage-section__item-text text">
          Fits comfortably in hand is perfect for a low profile carry in the
          city, while remaining a force in the outdoors.
        </p>
      </div>
      <div class="advantage-section__item">
        <h4 class="advantage-section__item-title section-subtitle">Swedish quality</h4>
        <p class="advantage-section__item-text text">
            Our first knife made in Sweden
            in partnering with local manufacturers and craftsmen that we trust.
        </p>
      </div>
      <div class="advantage-section__image">
        <img src="./images/photo/premium.jpg" alt="advantages">
      </div>
      
    </div>
  </div>
</section>
