<section class="advantage-section">
    <div class="container advantage-section__container">
        <h2 class="section-title advantage-section__title">Premium materials and top notch craftsmanship</h2>
        <div class="advantage-section__table">
            <div class="advantage-section__item">
                <h4 class="advantage-section__item-title section-subtitle">Minimal build</h4>
                <p class="advantage-section__item-text text">
                    Ensures compact carry, worn as a belt or neck knife able to perform in a variety of environments.
                </p>
            </div>
        </div>
    </div>
</section>