<section class="details-section">
  <div class="details-section__container container">
    <div class="details-section__text">
      <h2 class="details-section__title section-title">
        A modern fixed blade for the urban wilderness explorer
      </h2>
      <div class="details-section__text-wrapper">
        <p class="details-section__paragraph text">
            During this specific design process, we set our focus on versatility. 
            The Bornas is capable of conquering not only the untamed wilderness, 
            but any everyday task you may come across in the office or workshop. 
            Available in two variants
          </p>
          <div class="details-section__toggle toggle">
            <span class="toggle__button">wood</span>
            <span class="toggle__button">g10</span>
          </div>
      </div>
      
    </div>
    <div class="details-section__description">
        <img src="./images/photo/blade_solo.png" alt="">
    </div>
  </div>
 
</section>
