<section class="details-section">
  <div class="details-section__container container">
    <div class="details-section__text">
      <h2 class="details-section__title section-title">
        A modern fixed blade for the urban wilderness explorer
      </h2>
      <div class="details-section__text-wrapper">
        <p class="details-section__paragraph text">
            During this specific design process, we set our focus on versatility. 
            The Bornas is capable of conquering not only the untamed wilderness, 
            but any everyday task you may come across in the office or workshop. 
            Available in two variants
          </p>
          <div class="details-section__toggle toggle">
            <span class="toggle__button button active">wood</span>
            <span class="toggle__button button">g10</span>
          </div>
      </div>
      
    </div>
    <div class="details-section__description">
      
       <!-- Left -->
       <div class="description-left description-wrapper">
        <!-- plus-icon -->
        <svg
          class="plus-icon"
          viewBox="0 0 36 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle class="outer-circle" cx="17.9995" cy="20" r="17" />
          <circle class="inner-circle" cx="17.9995" cy="20" r="14.5" />
          <path
            class="minus hidden"
            d="M25.0002 20.3659H11.0002V19.1895H25.0002V20.3659Z"
            fill="#1E0D0A"
          />
          <path
            class="plus"
            d="M24.9998 20.366H18.5292V27.5556H17.4703V20.366H10.9998V19.1895H17.4703V12H18.5292V19.1895H24.9998V20.366Z"
          />
        </svg>
        <!-- INFO -->
        <div class="info">
          <div class="text">Fixed blade</div>
          <svg class="line">
            <circle class="point" cx="3" cy="10" r="3"></circle>
            <polyline class="poly" points="3,10  116 10, 116 52"></polyline>
          </svg>
        </div>
      </div>
        <!-- Right -->
        <div class="description-right description-wrapper">
          <!-- plus-icon -->
          <svg
            class="plus-icon"
            viewBox="0 0 36 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle class="outer-circle" cx="17.9995" cy="20" r="17" />
            <circle class="inner-circle" cx="17.9995" cy="20" r="14.5" />
            <path
              class="minus hidden"
              d="M25.0002 20.3659H11.0002V19.1895H25.0002V20.3659Z"
              fill="#1E0D0A"
            />
            <path
              class="plus"
              d="M24.9998 20.366H18.5292V27.5556H17.4703V20.366H10.9998V19.1895H17.4703V12H18.5292V19.1895H24.9998V20.366Z"
            />
          </svg>
          <div class="info">
            <div class="text">Rose Wood</div>
            <svg class="line">
              <circle id="point" class="point" cx="67" cy="70" r="3"></circle>
              <polyline class="poly" points="80 70, 2 70, 2 0"></polyline>
            </svg>
          </div>
        </div>

      <div class="image">
        <img src="./images/photo/blade_solo.png" alt="blade">
      </div>
      
    </div>
  </div>
 
</section>
