<footer class="footer layout__footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__social">
                <div class="footer__logo">
                    <img src="./images/svg/logo_big.svg" alt="logo">
                </div>
                <div class="footer__social">
                    <p class="footer__social-text">follow us</p>
                    <ul class="social-list">
                        <li class="social-list__item">
                            <a href="#" class="social-list__link">
                                <img src="./images/svg/insta.svg" alt="insta">
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-list__link">
                                <img src="./images/svg/fb.svg" alt="insta">
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-list__link">
                                <img src="./images/svg/youtube.svg" alt="insta">
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">main store</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">about</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">contacts</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">upkeep</a>
                </li>
            </ul>
            <div class="subscribe footer__subscribe">
                <h4 class="subscribe__header">
                    Stay connected
                </h4>
                <p class="subscribe__text">
                    Join to find out about new products & WESN news. Keep up with regular advice on the knife care and more.
                </p>
                <form class="subscribe__form">
                    <input class="subscribe__input" type="email" placeholder="Email Address">
                    <button class="subscribe__btn button" type="submit">subscribe</button>
                </form>
            </div>
        </div>
    </div> 
</footer>