<header class="header layout__header">
   <div class="container">
    <nav class="nav header__nav">
        <div class="header__logo">
            <a href="#">
                <img src="../../images/svg/logo.svg" alt="logo">
            </a>
        </div>
        <div class="menu nav__menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link">about</a>
                    <span class="menu__underline"></span>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">pricing</a>
                    <span class="menu__underline"></span>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">upkeep</a>
                    <span class="menu__underline"></span>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">contacts</a>
                    <span class="menu__underline"></span>
                </li>
            </ul>
        </div>
        <div class="nav__cart">
            <a href="#" class="nav__link">
                <img src="../../images/svg/cart.svg" alt="cart">
            </a>
        </div>
        
    </nav>
   </div>
</header>